<div class="container">
  <div class="row main-row">
    <div class="col-md-12 mx-auto">
      <h5>
        <% if current_user == @user %>
          マイページ
        <% else %>
          ユーザー詳細
        <% end %>
      </h5>
      <div class='main-tabs mt-3'>
        <div class='main-tab-buttons'>
          <span class='main-content1 main-active'>ユーザー情報</span>
          <span class='main-content2'>投稿</span>
          <span class='main-content3'>いいね</span>
          <div id='lamp' class='main-content1'></div>
        </div>

        <div class='main-tab-content'>
          <div class='main-content1'>
            <% if current_user == @user %>
              <%= render 'mypage', user: @user %>
            <% else %>
              <%= render 'user/users/user_info', user: @user %>
            <% end %>
          </div>

          <div class='main-content2'>
            <% if current_user == @user %>
              <%= render 'user/users/myposts', published_posts: @published_posts, draft_posts: @draft_posts, unpublished_posts: @unpublished_posts, class: "my-posts" %>
            <% else %>
              <%= render 'user/users/user_posts', posts: @posts %>
            <% end %>
          </div>

          <div class='main-content3' style="display: none;">
            <%= render 'user/users/user_favorites', favorite_posts: @favorite_posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
