<!-- 投稿詳細Modal -->
<div class="modal fade" id="postModal<%= post.id %>" tabindex="-1" aria-labelledby="postModal<%= post.id %>Label" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModal<%= post.id %>Label">投稿詳細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 mx-auto user-link">
              <!-- ユーザー情報 -->
              <div class="row mb-3">
                <%= link_to user_path(post.user) do %>
                  <!--<div class="col-md-2">-->
                    <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle mb-2" %>
                  <!--</div>-->
                  <!--<div class="col-md-10">-->
                    <span><%= post.user.name %></span>
                  <!--</div>-->
                <% end %>
              </div>
              <!-- 投稿内容 -->
              <div class="row mb-2">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                  <div class="img-container mb-1">
                    <%= image_tag post.get_image(800, 600), class: "rounded" %>
                  </div>
                </div>
                <div class="col-md-12">
                  <%= post.content %>
                </div>
              </div>
              <!-- 都道府県 -->
              <% if post.prefecture %>
                <div class="row mb-2">
                  <div class="col-md-12">
                    <i class="fa-solid fa-location-dot"></i> <%= post.prefecture.name %>
                  </div>
                </div>
              <% end %>
              <!-- タグ -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <div class="tags">
                    <%= render "user/posts/tag", post: post %>
                  </div>
                </div>
              </div>
              <!-- いいねとコメント数 -->
              <div class="row mb-3">
                <div class="col-md-12 d-flex align-items-center">
                  <span class="favorite_btn_<%= post.id %>">
                    <%= render "user/favorites/btn", post: post %>
                  </span>
                  <span class="ml-2">
                    <%= render "user/comments/counter", post: post %>
                  </span>
                </div>
              </div>
              <!-- コメントフォーム -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <%= render "user/comments/index", post: post %>
                  <%= render "user/comments/form", post: post, comment: @comment %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- ログインユーザーの投稿であれば編集・削除可能 -->
          <% if post.user == current_user %>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-between">
                <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
                <%= link_to "編集", edit_post_path(post), class: "btn btn-success ml-2 edit-post-button", "data-toggle": "modal", "data-target": "#editPostModal#{post.id}" %>
                <%= render 'user/posts/edit_post_modal', user: current_user, post: post %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
