<div class="notification-container">
  <div class="row main-row">
    <div class="col-12 mx-auto">
      <h5>通知一覧</h5>
      <% if @notifications.any? %>
        <!--全通知既読用ボタン-->
        <div class="mb-3 text-right">
          <%= link_to '全て既読にする', mark_all_as_read_notifications_path, method: :patch, class: 'btn btn-primary' %>
        </div>
        <!--通知一覧-->
        <ul class="notification-list">
          <% @notifications.each do |notification| %>
            <li class="<%= 'notification-item' + (notification.unread? ? ' unread' : '') %>">
              <div class="notification-content">
                <%= render_notification(notification) %>
                <p class="notification-text">
                  <%= notification_content_preview(notification) %>
                </p>
                <!-- 日付の表示 -->
                <p class="notification-date">
                  <%= notification.created_at.strftime("%Y年%m月%d日 %H:%M") %>
                </p>
              </div>
              <!--通知対象 post が持つ image 表示-->
              <!--エラー防止のため、Rubyの安全ナビゲーション演算子 &. を使用して、nil の可能性を持つメソッドを呼び出す-->
              <% if notification.notifiable_type.in?(['Comment', 'Favorite']) && notification.notifiable&.post&.image&.attached? %>
                <div class="notification-image">
                  <img src="<%= notification_image_url(notification) %>" alt="Notification image">
                </div>
              <% elsif notification.notifiable_type == 'Post' && notification.notifiable.image.attached? %>
                <div class="notification-image">
                  <img src="<%= notification_image_url(notification) %>" alt="Notification image">
                </div>
              <% end %>
              <!--既読にするボタン-->
              <% if notification.unread? %>
                <div class="notification-action">
                  <%= link_to '既読にする', notification_path(notification), method: :patch, class: 'btn btn-secondary btn-sm' %>
                </div>
              <% else %>
                <div class="notification-action hidden">
                  <!-- ボタン非表示時のスペース確保用 -->
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-center">通知はありません。</p>
      <% end %>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <%= paginate @notifications, theme: 'pagination' %>
  </div>
</div>
