<div class="navbar">
  <h1 class="main-title pt-2">Matsurication</h1>
  <header class="header">
    <div id="sp-menu">
      <h2 class="menu-title text-right mr-2">Menu</h2>
      <ul class="text-center m-2">
        <% if admin_signed_in? %>
          <li><%= link_to 'Home', admin_root_path %></li>
          <li><%= link_to 'Post', admin_posts_path %></li>
          <li><%= link_to 'User', admin_users_path %></li>
          <li><%= link_to 'Request', admin_requests_path %></li>
          <li><%= link_to 'Notification', admin_notifications_index_path %></li>
          <li><%= link_to 'Log Out', destroy_admin_session_path, method: :delete %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Post', posts_path %></li>
          <li><%= link_to 'User', users_path %></li>
          <li><%= link_to 'My Page', user_path(current_user) %></li>
          <li><%= link_to 'Notification', user_notifications_path(current_user) %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Post', posts_path %></li>
          <li><%= link_to 'User', users_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to "Guest(閲覧)", users_guest_sign_in_path, method: :post %></li>
        <% end %>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </header>
</div>
